<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <security>
      <!-- Removes Server header -->
      <requestFiltering removeServerHeader="true" />
    </security>

    <httpProtocol>
      <customHeaders>
        <!-- Removes X-Powered-By header -->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <!-- Removes X-AspNet-Version header -->
  <system.web>
    <httpRuntime enableVersionHeader="false" />
  </system.web>
</configuration>